html, body{
	padding: 0;
	margin: 0;
	font-family: 'calibri', sans-serif;
	font-size: 15px;
	overflow-y: hidden;
	overflow-x: hidden;
}


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection{
  background-color: none;
  color: black;
}

::-moz-selection {
  background-color: none;
  color: black;
}

body{/*
background-image: url(./Wallpaper1.jpg);*/
background-repeat: no-repeat;
}

.containercase{
  position: absolute;
  top:-99em;
  text-align: center;
}

.case h1{
  text-align: center;
}

#block h1{
  margin: 1%;
  padding: 0;
  top:0;
  text-align: center;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
}

#block h2{
  color: grey;
  font-size: 30px;
  margin: 0 10px;
  padding: 0 10px;
}

#block h3{
  color: green;
  font-size: 24px;
}

#block p{
	margin: 0;
	padding: 0;
	font-size: 20px;
	word-wrap: break-word;
}

#langue{
	position: fixed;
	width:auto;
	top: 10px;
	left: 10px;
	margin:0;
	padding: 0;
	font-size: 40px;
  font-family: 'BebasNeueRegular';
  src: url('fonts/BebasNeue-webfont.eot');
	z-index: 100;
}

.case{
background: rgba(200, 0, 0, 0.75);
width: 250px;
height: 250px;
font-size: 24px;
font-family: "calibry", sans-serif;
color: white;
text-align: center;
box-shadow: 0 0 0 3px black inset;
-webkit-transition: all 350ms ease-in-out;
-webkit-transform: scale(1);
z-index: 8;
position: absolute;
}

.case:hover{
background-color: rgba(200, 0, 0, 1);
font-size: 25;
font-family: "calibry", sans-serif;
-webkit-transition: all 350ms ease-in-out;
-webkit-transform: scale(1.1);
box-shadow: none;
}


.activec1, .activec2, .activec3, .activec4, .activec5, .activec6, .activec7, .activec8{
background: rgba(200, 0, 0, 1);
width: 800px;
height: 800px;
font-family: "calibry", sans-serif;
color: white;
box-shadow:none;
-webkit-transition: all 400ms ease-in-out;
position: absolute;
z-index: 15;
font-size: 60px;
overflow-y: auto;
}

::-webkit-scrollbar-track{
  background-color: blue;
}
/*
::-webkit-scrollbar-button:no-button{

}
::-webkit-scrollbar-track-piece:;
::-webkit-scrollbar-thumb:;
::-webkit-scrollbar-corner:;
::-webkit-resizer:;*/
}


#c1{
  display: inline;
}

#c1, #c2, #c3{
	top: 50px;
}
#c4, #c5, #c6{
	top: 325px;
}
#c7, #c8{
	top: 600px;
}
#c1, #c4, #c7{
	left: 580px;
}
#c2, #c5, #c8{
	left: 855px;
}
#c3, #c6{
	left: 1130px;
}

.activec2{
-webkit-transform: translateX(-275px);
}
.activec3{
-webkit-transform: translateX(-550px);
}
.activec4{
-webkit-transform: translateY(-275px);
}
.activec5{
-webkit-transform: translate(-275px,-275px);
}
.activec6{
-webkit-transform: translate(-550px,-275px);
}
.activec7{
-webkit-transform: translateY(-550px);
}
.activec8{
-webkit-transform: translate(-275px,-550px);
}

.icon{
}

.iconOff{
  display: none;
}


.button{
  z-index: 10;
  position: absolute;
  margin: 15px;
  -webkit-transition: all 450ms ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transition: all 450ms ease-in-out;
  -moz-transform: rotate(0deg);
  transition: all 450ms ease-in-out;
  transform: rotate(0deg);
}

.button:hover{
  -webkit-transition: all 450ms ease-in-out;
  -webkit-transform: rotate(360deg);
  -moz-transition: all 450ms ease-in-out;
  -moz-transform: rotate(360deg);
  transition: all 450ms ease-in-out;
  transform: rotate(360deg);
}


#photoProfil{
	margin: 1%;
  width: 40%;
  height: 40%;
  float: left;
}


#photoProfil img{
  width: 100%;
  height: 100%;
}

#c1 p{
	margin: 1%;
  font-size: 30px;
  line-height: 175%;
  text-align: justify;
}


#retour{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -0;
}

.flex-container{
  display: flex;
}

.caroussel *{
}

.caroussel img{
width: 100px;
height: 100px;
}


.case .container{
  display: none;
}

.container { 
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.container div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: 3px; 
}
.container div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 300px) {
  .container div { margin: 0; }
  .container { padding: 0; }
}




#c5 p{
  margin: 1%;
  font-size: 30px;
  line-height: 175%;
  text-align: justify;
  visibility: visible;
}




#contactez h2{
color: white;
font-size: 26px;
}

#contactez a{
  text-decoration: none;
  color:white;
}


#mail{
  float:left;
  margin: 0 8%;
}

#logos{
  width: 100%;
  margin-top: 10%;
}

#cvcss img{
  width: 100%;
  height: au100%to;
}



/*Slider*/
.sliderInfographie{
  width: 800px;
  overflow: hidden;
}
.slidesInfographie{
  width: calc(800px * 4);
  animation: glisseInfographie 16s infinite;
}
.slideInfographie{
  float: left;
}
@keyframes glisseInfographie{
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-800px);
  }
  45%{
    transform: translateX(-800px);
  }
  50%{
    transform: translateX(-1600px);
  }
  70%{
    transform: translateX(-1600px);
  }
  75%{
    transform: translateX(-2400px);
  }
  95%{
    transform: translateX(-2400px);
  }
  100%{
    transform: translateX(0);
  }
}



.sliderGalerie{
  width: 800px;
  overflow: hidden;
}
.slidesGalerie{
  width: calc(800px * 10);
  animation: glisseGalerie 40s infinite;
}
.slideGalerie{
  float: left;
}
@keyframes glisseGalerie{
  0%{
    transform: translateX(0);
  }
  8%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(-800px);
  }
  18%{
    transform: translateX(-800px);
  }
  20%{
    transform: translateX(-1600px);
  }
  28%{
    transform: translateX(-1600px);
  }
  30%{
    transform: translateX(-2400px);
  }
  38%{
    transform: translateX(-2400px);
  }
  40%{
    transform: translateX(-3200px);
  }
  48%{
    transform: translateX(-3200px);
  }
  50%{
    transform: translateX(-4000px);
  }
  58%{
    transform: translateX(-4000px);
  }
  60%{
    transform: translateX(-4800px);
  }
  68%{
    transform: translateX(-4800px);
  }
  70%{
    transform: translateX(-5600px);
  }
  78%{
    transform: translateX(-5600px);
  }
  80%{
    transform: translateX(-6400px);
  }
  88%{
    transform: translateX(-6400px);
  }
  90%{
    transform: translateX(-7200px);
  }
  98%{
    transform: translateX(-7200px);
  }
  100%{
    transform: translateX(0);
  }
}



.sliderAudiovisuel{
  width: 800px;
  overflow: hidden;
}

.slidesAudiovisuel{
  width: calc(800px * 5);
  animation: glisseAudiovisuel 20s infinite;
}

.slideAudiovisuel{
  float: left;
}

@keyframes glisseAudiovisuel{
  0%{
    transform: translateX(0);
  }
  16%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-800px);
  }
  36%{
    transform: translateX(-800px);
  }
  40%{
    transform: translateX(-1600px);
  }
  56%{
    transform: translateX(-1600px);
  }
  60%{
    transform: translateX(-2400px);
  }
  76%{
    transform: translateX(-2400px);
  }
  80%{
    transform: translateX(-3200px);
  }
  96%{
    transform: translateX(-3200px);
  }
  100%{
    transform: translateX(0);
  }
}


.description{
  width: 100%
  background-color: green;
  text-align: center;
  font-size: 30px;
}





.noText{
  position: absolute;
  transition: all 350ms ease-in-out;
  opacity:0;
  width: 100%;
  height: 50px;
}
.text{
  display: inline-block;
  position: absolute;
  transition: all 350ms ease-in-out;
  opacity:1;
  transform: translateY(-22px);
}


.caseShake{
background: rgba(200, 0, 0, 0.75);
width: 250px;
height: 250px;
font-size: 25;
font-family: "calibry", sans-serif;
color: white;
text-align: center;
box-shadow: 0 0 0 3px black inset;
z-index: 8;
position: absolute;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.caseShake:active{
  -webkit-animation-name: caseShake;
  animation-name: caseShake;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;


-webkit-transition: all 1s ease-in-out;
-webkit-transform: scale(1.1);

}


.caseShake:hover{
background-color: rgba(200, 0, 0, 1);
font-size: 25;
font-family: "calibry", sans-serif;
-webkit-transition: all 350ms ease-in-out;
-webkit-transform: scale(1.1);
box-shadow: none;
}

@-webkit-keyframes caseShake {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes caseShake {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}












    /*MEDIA QUERIES*/
    @media screen and (max-width: 361px) {
      .button{
        width: 15%;
        margin:2px;
      }

      .button img{
        width: 100%;
      }

    .case{
    background: rgba(200, 0, 0, 0.75);
    width: 150px;
    height: 150px;
    font-size: 13px;
    font-family: "calibry", sans-serif;
    color: white;
    text-align: center;
    box-shadow: 0 0 0 3px black inset;
    -webkit-transition: all 350ms ease-in-out;
    -webkit-transform: scale(1);
    z-index: 8;
    position: absolute;
    }

    .case:hover{
    background-color: rgba(200, 0, 0, 1);
    font-size: 13px;
    -webkit-transition: all 350ms ease-in-out;
    -webkit-transform: scale(1.1);
    box-shadow: none;
    }


    .containercase{
      display: none;
      position: absolute;
      top:-99em;
      text-align: center;
    }

    .activec1, .activec2, .activec3, .activec4, .activec5, .activec6, .activec7, .activec8{
    background: rgba(200, 0, 0, 1);
    width: 340px;
    height: 700px;
    font-family: "calibry", sans-serif;
    font-size: 32px;
    color: white;
    box-shadow:none;
    -webkit-transition: all 400ms ease-in-out;
    position: absolute;
    z-index: 15;
    overflow-y: auto;
    }




    #c1, #c2{
      top: 55px;
    }
    #c3, #c4{
      top: 225px;
    }
    #c5, #c6{
      top: 395px;
    }
    #c7, #c8{
      top: 565px;
    }
    #c1, #c3, #c5, #c7{
      left: 10px;
    }
    #c2, #c4, #c6, #c8{
      left: 200px;
    }

    .activec2{
    -webkit-transform: translateX(-190px);
    }
    .activec3{
    -webkit-transform: translateY(-170px);
    }
    .activec4{
    -webkit-transform: translate(-190px,-170px);
    }
    .activec5{
    -webkit-transform: translateY(-340px);
    }
    .activec6{
    -webkit-transform: translate(-550px,-275px);
    }
    .activec7{
    -webkit-transform: translateY(-510px);
    }
    .activec8{
    -webkit-transform: translate(-190px,-510px);
    }


    .icon{
      height: 74%;
    }

    .iconOff{
      display: none;
    }

    #photoProfil{
      margin: 1%;
      width: 50%;
      height: 25%;
      float: left;
    }


    #photoProfil img{
      width: 100%;
      height: 100%;
    }

    #c1 p{
    font-size: 18px;
    }

    }


/*MODIFS ANGLAIS*/
#titreC8{
  font-size: 35px;
}
